<div style="display: flex;">
    <band-echart style="flex:1;" [title]="title" [subTitle]="subTitle" [color]="color" [areaColor]="areaColor1"></band-echart>

    <band-echart style="flex:1" [title]="title2" [subTitle]="subTitle2" [color]="color2"></band-echart>
</div>

<div style="display: flex;">
    <band-echart style="flex:1;" [title]="title" [subTitle]="subTitle" [color]="color" [areaColor]="areaColor1"></band-echart>

    <band-echart style="flex:1" [title]="title2" [subTitle]="subTitle2" [color]="color2"></band-echart>
    <band-echart style="flex:1" [title]="title2" [subTitle]="subTitle2" [color]="color2"></band-echart>

</div>